<!DOCTYPE html>
<html lang="en">
<head th:replace="~{admin-panel/index :: head}">

</head>
<body class="app sidebar-mini light-mode" th:classappend="${#locale.language == 'fa' ? 'rtl' : 'ltr'}">
<!-- GLOBAL-LOADER -->
<div id="global-loader">
    <img src="../assets/images/loader.svg" class="loader-img" alt="Loader">
</div>
<!-- /GLOBAL-LOADER -->

<!-- PAGE -->
<div class="page">
    <div class="page-main">

        <!-- app-Header -->
        <div class="app-header header sticky" th:replace="~{admin-panel/index :: app-header}">

        </div>
        <!-- /app-Header -->

        <!--APP-SIDEBAR-->
        <div class="sticky" th:replace="~{admin-panel/index :: sidebar}">
            <!--/APP-SIDEBAR-->
        </div>

        <div class="container" th:object="${fuelStation}">

            <div class="page-header">
                <h1 class="page-title" th:text="#{infoPage}"></h1>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <p> - ID : <span th:text="${fuelStation.id}"></span></p>
                        <p> - Zone ID : <span th:text="${fuelStation.zoneId}"></span></p>
                        <p> - Area ID : <span th:text="${fuelStation.areaId}"></span></p>
                        <p> - City ID : <span th:text="${fuelStation.cityId}"></span></p>
                        <p> - Code : <span th:text="${fuelStation.code}"></span></p>
                        <p> - Name : <span th:text="${fuelStation.name}"></span></p>
                        <p> - Type : <span th:text="${fuelStation.type}"></span></p>
                        <p> - Address : <span th:text="${fuelStation.address}"></span></p>
                        <p> - Incharge Man : <span th:text="${fuelStation.inchargeMan}"></span></p>
                        <p> - Email : <span th:text="${fuelStation.email}"></span></p>
                        <p> - Contact Man : <span th:text="${fuelStation.contactMan}"></span></p>
                        <p> - Contact Telephone : <span th:text="${fuelStation.contactTelephone}"></span></p>
                        <p> - Telephone1 : <span th:text="${fuelStation.telephone1}"></span></p>
                        <p> - Telephone2 : <span th:text="${fuelStation.telephone2}"></span></p>
                        <p> - Fax : <span th:text="${fuelStation.fax}"></span></p>
                        <p> - Zip Code : <span th:text="${fuelStation.zipCode}"></span></p>
                        <p> - Open Date : <span th:text="${fuelStation.openDate}"></span></p>
                        <p> - Init Count : <span th:text="${fuelStation.getInitCount}"></span></p>
                        <p> - Dialup Sign : <span th:text="${fuelStation.dialupSign}"></span></p>
                        <p> - DailySettle Begin : <span th:text="${fuelStation.dailySettleBegin}"></span></p>
                        <p> - DailySettle End : <span th:text="${fuelStation.dailySettleEnd}"></span></p>
                        <p> - Owner : <span th:text="${fuelStation.owner}"></span></p>
                        <p> - Init Status : <span th:text="${fuelStation.initStatus}"></span></p>
                        <p> - Validity : <span th:text="${fuelStation.validity}"></span></p>


                    </div>
                </div>
            </div>
            <br>

            <div class="page-header">
                <h1 class="page-title">Fuel Terminals</h1>
            </div>

            <a th:href="@{/fuelTerminals/add(fuelStationId=${fuelStation.id})}"
               class="btn btn-primary btn-sm mb-3">
                Add FuelTerminal
            </a>
            <div th:if="${!fuelStation.fuelTerminals.isEmpty()}">
                <table class="table table-bordered text-nowrap mb-0 table-hover">
                    <thead class="border-top">
                    <tr>
                        <th class="bg-transparent border-bottom-0 w-5" th:text="#{id}"></th>
                        <th class="bg-transparent border-bottom-0" th:text="#{fuelStationId}"></th>
                        <th class="bg-transparent border-bottom-0">Fuel Sam Id</th>
                        <th class="bg-transparent border-bottom-0">Pay Sam Id</th>
                        <th class="bg-transparent border-bottom-0">Fuel Type</th>
                        <th class="bg-transparent border-bottom-0">Ipc Ip Addr</th>
                        <th class="bg-transparent border-bottom-0">Pt Ip Addr</th>
                        <th class="bg-transparent border-bottom-0">Nozzle ID</th>
                        <th class="bg-transparent border-bottom-0">Oilcan ID</th>
                        <th class="bg-transparent border-bottom-0">Dispenser Type</th>
                        <th class="bg-transparent border-bottom-0" th:text="#{action}"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="tempFuelTerminal : ${fuelStation.fuelTerminals}"
                        th:onclick="|redirectTo('@{/fuelTerminals/info(fuelTerminalId=${tempFuelTerminal.id})}')|">
                        <td th:text="${tempFuelTerminal.id}"></td>
                        <td th:text="${tempFuelTerminal.fuelStationId}"></td>
                        <td th:text="${tempFuelTerminal.fuelSamId}"></td>
                        <td th:text="${tempFuelTerminal.paySamId}"></td>
                        <td th:text="${tempFuelTerminal.fuelType}"></td>
                        <td th:text="${tempFuelTerminal.ipcIpAddr}"></td>
                        <td th:text="${tempFuelTerminal.ptIpAddr}"></td>
                        <td th:text="${tempFuelTerminal.nozzleId}"></td>
                        <td th:text="${tempFuelTerminal.oilcanId}"></td>
                        <td th:text="${tempFuelTerminal.dispenserType}"></td>
                        <td class="center-text">
                            <a th:href="@{/fuelTerminals/update(fuelTerminalId=${tempFuelTerminal.id})}"
                               class="btn btn-info" th:text="#{edit}">

                            </a>

                            <a th:href="@{/fuelTerminals/delete(fuelTerminalId=${tempFuelTerminal.id})}"
                               class="btn btn-danger" th:text="#{delete}"
                               onclick="if (!(confirm('Are you sure you want to delete this fuel terminal?'))) return false"
                            >

                            </a>
                        </td>
                    </tr>

                    </tbody>
                </table>
            </div>

        </div>

    </div>

    <!-- Country-selector modal-->
    <div class="modal fade" id="country-selector">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content country-select-modal">
                <div class="modal-header">
                    <h6 class="modal-title" th:text="#{chooseLanguage}"></h6><button aria-label="Close" class="btn-close"
                                                                       data-bs-dismiss="modal" type="button"><span aria-hidden="true">×</span></button>
                </div>
                <div class="modal-body">
                    <ul class="row p-3" th:object="${fuelStation}">
                        <li class="col-lg-6 mb-2">
                            <a href="javascript:void(0)" class="btn btn-country btn-lg btn-block"
                               th:href="@{/fuelStations/info(fuelStationId=*{id},lang=#{lang.change.en})}">
                                    <span class="country-selector"><img alt="" src="../assets/images/flags/us_flag.jpg" th:text="#{english}"
                                                                        class="me-3 language"></span>
                            </a>
                        </li>
                        <li class="col-lg-6 mb-2">
                            <a href="javascript:void(0)" class="btn btn-country btn-lg btn-block"
                               th:href="@{/fuelStations/info(fuelStationId=*{id},lang=#{lang.change.fa})}">
                                    <span class="country-selector"><img alt=""
                                                                        src="../assets/images/flags/ir.svg" th:text="#{persian}"
                                                                        class="me-3 language"></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Country-selector modal-->

    <!-- FOOTER -->
    <footer class="footer" th:replace="~{admin-panel/index :: app-footer}">

    </footer>

    <!-- FOOTER CLOSED -->

</div>

<!-- JQUERY JS -->
<script src="../assets/js/jquery.min.js"></script>

<!-- BOOTSTRAP JS -->
<script src="../assets/plugins/bootstrap/js/popper.min.js"></script>
<script src="../assets/plugins/bootstrap/js/bootstrap.min.js"></script>

<!-- SIDE-MENU JS -->
<script src="../assets/plugins/sidemenu/sidemenu.js"></script>

<!-- TypeHead js -->
<script src="../assets/plugins/bootstrap5-typehead/autocomplete.js"></script>
<script src="../assets/js/typehead.js"></script>

<!-- SIDEBAR JS -->
<script src="../assets/plugins/sidebar/sidebar.js"></script>

<!-- Perfect SCROLLBAR JS-->
<script src="../assets/plugins/p-scroll/perfect-scrollbar.js"></script>
<script src="../assets/plugins/p-scroll/pscroll.js"></script>
<script src="../assets/plugins/p-scroll/pscroll-1.js"></script>

<!-- INTERNAL SELECT2 JS -->
<script src="../assets/plugins/select2/select2.full.min.js"></script>

<!-- INTERNAL Data tables js-->
<script src="../assets/plugins/datatable/js/jquery.dataTables.min.js"></script>
<script src="../assets/plugins/datatable/js/dataTables.bootstrap5.js"></script>
<script src="../assets/plugins/datatable/dataTables.responsive.min.js"></script>
<script src="../assets/js/crypto-datatable.js"></script>

<!-- Color Theme js -->
<script src="../assets/js/themeColors.js"></script>

<!-- Sticky js -->
<script src="../assets/js/sticky.js"></script>

<!-- CUSTOM JS -->
<script src="../assets/js/custom.js"></script>

<script th:replace="~{admin-panel/index :: search-script}"></script>

</body>
</html>