<!doctype html>
<html th:lang="${#locale.language}" th:attr="dir=${#locale.language == 'fa' ? 'rtl' : 'ltr'}">

<head th:replace="~{fragments/template :: head}">

</head>

<body class="app sidebar-mini light-mode" th:classappend="${#locale.language == 'fa' ? 'rtl' : 'ltr'}">

    <!-- GLOBAL-LOADER -->
    <div id="global-loader">
        <img src="../assets/images/loader.svg" class="loader-img" alt="Loader">
    </div>
    <!-- /GLOBAL-LOADER -->

    <!-- PAGE -->
    <div class="page">
        <div class="page-main">

            <!-- app-Header -->
            <div class="app-header header sticky" th:replace="~{fragments/template :: app-header}">

            </div>
            <!-- /app-Header -->

            <!--APP-SIDEBAR-->
            <div class="sticky" th:replace="~{fragments/template :: sidebar}">
                <!--/APP-SIDEBAR-->
            </div>
            <!--app-content open-->
            <div class="main-content app-content mt-0">
                <div class="side-app">

                    <!-- CONTAINER -->
                    <div class="main-container container-fluid">

                        <!-- PAGE-HEADER -->
                        <div class="page-header">
                            <h1 class="page-title" th:text="#{fuelTerminals}"></h1>
                            <div>
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="javascript:void(0)" th:text="#{fuelTerminals}"></a></li>
                                    <li class="breadcrumb-item active" aria-current="page" th:text="#{list}"></li>
                                </ol>
                            </div>
                        </div>
                        <!-- PAGE-HEADER END -->

                        <!-- ROW OPEN -->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-header">
                                        <a th:href="@{/fuelTerminals/add(fuelStationId=${stationId})}" th:text="#{addFuelTerminal}"
                                           class="btn btn-primary btn-sm mb-3">

                                        </a>
                                    </div>
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table id="crypto-data-table" class="table table-bordered text-nowrap mb-0 table-hover">
                                                <thead class="border-top">
                                                    <tr>
                                                        <th class="bg-transparent border-bottom-0 w-5" th:text="#{tableId}"></th>
                                                        <th class="bg-transparent border-bottom-0" th:text="#{fuelStationId}"></th>
                                                        <th class="bg-transparent border-bottom-0">Fuel Sam Id</th>
                                                        <th class="bg-transparent border-bottom-0">Pay Sam Id</th>
                                                        <th class="bg-transparent border-bottom-0">Fuel Type</th>
                                                        <th class="bg-transparent border-bottom-0">Ipc Ip Addr</th>
                                                        <th class="bg-transparent border-bottom-0">Pt Ip Addr</th>
                                                        <th class="bg-transparent border-bottom-0">Nozzle ID</th>
                                                        <th class="bg-transparent border-bottom-0">Oilcan ID</th>
                                                        <th class="bg-transparent border-bottom-0">Dispenser Type</th>
                                                        <th class="bg-transparent border-bottom-0" th:text="#{action}"></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                <tr th:if="${fuelTerminals == null}" th:text="#{noDataAvailableInTable}"></tr>
<!--                                                <tr th:unless="${teacher.gender == 'F'}">Male</tr>-->
                                                <tr th:each="tempFuelTerminal : ${fuelTerminals}"
                                                    th:onclick="|redirectTo('@{/fuelTerminals/info(fuelTerminalId=${tempFuelTerminal.id.terminalId})}')|">
                                                    <td th:text="${tempFuelTerminal.id.terminalId}"></td>
                                                    <td th:text="${tempFuelTerminal.id.stationId}"></td>
                                                    <td th:text="${tempFuelTerminal.fuelSamId}"></td>
                                                    <td th:text="${tempFuelTerminal.paySamId}"></td>
                                                    <td th:text="${tempFuelTerminal.fuelId}"></td>
                                                    <td th:text="${tempFuelTerminal.ipcIpAddr}"></td>
                                                    <td th:text="${tempFuelTerminal.ptIpAddr}"></td>
                                                    <td th:text="${tempFuelTerminal.nozzleId}"></td>
                                                    <td th:text="${tempFuelTerminal.oilcanId}"></td>
                                                    <td th:text="${tempFuelTerminal.dispenserType}"></td>
                                                    <td>
                                                        <div class="g-2">
                                                            <a class="btn text-primary btn-sm" th:href="@{/fuelTerminals/update(fuelTerminalId=${tempFuelTerminal.id.terminalId})}"
                                                               data-bs-toggle="tooltip"
                                                               th:data-bs-original-title="#{edit}"><span
                                                                    class="fe fe-edit fs-14"></span></a>
                                                            <a class="btn text-danger btn-sm" th:href="@{/fuelTerminals/delete(fuelTerminalId=${tempFuelTerminal.id.terminalId})}"
                                                               data-bs-toggle="tooltip"
                                                               th:data-bs-original-title="#{delete}"><span
                                                                    class="fe fe-trash-2 fs-14"></span></a>
                                                        </div>
                                                    </td>
                                                </tr>

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- ROW CLOSED -->
                    </div>
                    <!-- CONTAINER CLOSED -->

                </div>
            </div>
            <!--app-content closed-->
        </div>

        <!-- Country-selector modal-->
        <div class="modal fade" id="country-selector">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content country-select-modal">
                    <div class="modal-header">
                        <h6 class="modal-title" th:text="#{chooseLanguage}"></h6><button aria-label="Close" class="btn-close"
                                                                           data-bs-dismiss="modal" type="button"><span aria-hidden="true">×</span></button>
                    </div>
                    <div class="modal-body">
                        <ul class="row p-3">
                            <li class="col-lg-6 mb-2">
                                <a href="javascript:void(0)" class="btn btn-country btn-lg btn-block"
                                   th:href="@{/fuelTerminals/list(stationId=${stationId}, lang=#{lang.change.en})}">
                                    <span class="country-selector"><img alt="" src="../assets/images/flags/us_flag.jpg" th:text="#{english}"
                                                                        class="me-3 language"></span>
                                </a>
                            </li>
                            <li class="col-lg-6 mb-2">
                                <a href="javascript:void(0)" class="btn btn-country btn-lg btn-block"
                                   th:href="@{/fuelTerminals/list(stationId=${stationId}, lang=#{lang.change.fa})}">
                                    <span class="country-selector"><img alt=""
                                                                        src="../assets/images/flags/ir.svg" th:text="#{persian}"
                                                                        class="me-3 language"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- Country-selector modal-->

        <!-- FOOTER -->
        <footer class="footer" th:replace="~{fragments/template :: app-footer}">

        </footer>

        <!-- FOOTER CLOSED -->
    </div>

    <!-- BACK-TO-TOP -->
    <a href="#top" id="back-to-top"><i class="fa fa-angle-up"></i></a>

    <!-- JQUERY JS -->
    <script src="../assets/js/jquery.min.js"></script>

    <!-- BOOTSTRAP JS -->
    <script src="../assets/plugins/bootstrap/js/popper.min.js"></script>
    <script src="../assets/plugins/bootstrap/js/bootstrap.min.js"></script>

    <!-- SIDE-MENU JS -->
    <script src="../assets/plugins/sidemenu/sidemenu.js"></script>

    <!-- TypeHead js -->
    <script src="../assets/plugins/bootstrap5-typehead/autocomplete.js"></script>
    <script src="../assets/js/typehead.js"></script>

    <!-- SIDEBAR JS -->
    <script src="../assets/plugins/sidebar/sidebar.js"></script>

    <!-- Perfect SCROLLBAR JS-->
    <script src="../assets/plugins/p-scroll/perfect-scrollbar.js"></script>
    <script src="../assets/plugins/p-scroll/pscroll.js"></script>
    <script src="../assets/plugins/p-scroll/pscroll-1.js"></script>

    <!-- INTERNAL SELECT2 JS -->
    <script src="../assets/plugins/select2/select2.full.min.js"></script>

    <!-- INTERNAL Data tables js-->
    <script src="../assets/plugins/datatable/js/jquery.dataTables.min.js"></script>
    <script src="../assets/plugins/datatable/js/dataTables.bootstrap5.js"></script>
    <script src="../assets/plugins/datatable/dataTables.responsive.min.js"></script>
    <script src="../assets/js/crypto-datatable.js"></script>

    <!-- Color Theme js -->
    <script src="../assets/js/themeColors.js"></script>

    <!-- Sticky js -->
    <script src="../assets/js/sticky.js"></script>

    <!-- CUSTOM JS -->
    <script src="../assets/js/custom.js"></script>

    <script>
        function redirectTo(url) {
            window.location.href = url;
        }
    </script>

    <script th:replace="~{fragments/template :: search-script}"></script>

</body>

</html>