<!DOCTYPE html>
<html lang="en">
<head th:replace="~{admin-panel/index :: head}">

</head>
<body class="app sidebar-mini ltr light-mode">
<!-- GLOBAL-LOADER -->
<div id="global-loader">
    <img src="../assets/images/loader.svg" class="loader-img" alt="Loader">
</div>
<!-- /GLOBAL-LOADER -->

<!-- PAGE -->
<div class="page">
    <div class="page-main">

        <!-- app-Header -->
        <div class="app-header header sticky" th:replace="~{admin-panel/index :: app-header}">

        </div>
        <!-- /app-Header -->

        <!--APP-SIDEBAR-->
        <div class="sticky" th:replace="~{admin-panel/index :: sidebar}">
            <!--/APP-SIDEBAR-->
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-8 mx-auto rounded p-4 m-4">
                    <div class="page-header">
                        <h1 class="page-title">New Fuel Terminal</h1>
                    </div>

                    <form action="#" enctype="multipart/form-data" th:method="POST" th:action="@{/fuelTerminals/save(path=${path})}"
                          th:object="${fuelTerminal}">

                        <div th:if="${error != null}">
                            <p class="text-danger"><span th:text="${error}"></span></p>
                        </div>


                        <div class="row mb-3">
                            <label class="col-sm-4 col-form-label">ID</label>
                            <div class="col-sm-8">
                                <input type="text" th:field="*{id}"
                                       class="form-control mb-4 w-25" placeholder="ID"/>
                                <p th:if="${#fields.hasErrors('id')}" th:errorclass="text-danger"
                                   th:errors="${fuelTerminal.id}"></p>
                            </div>
                        </div>

                            <div class="row mb-3">
                                <label class="col-sm-4 col-form-label">FuelStation ID</label>
                                <div class="col-sm-8">
                                    <div th:if="${theFuelStationId == null}">
                                    <input type="text" th:field="*{fuelStationId}"
                                           class="form-control mb-4 w-25" placeholder="FuelStation ID"/>
                                    </div>
                                    <div th:if="${theFuelStationId != null}" th:statement="${fuelTerminal.setFuelStationId(theFuelStationId)}">
                                        <input type="text" th:field="*{fuelStationId}" readonly
                                               class="form-control mb-4 w-25" placeholder="FuelStation ID"/>
                                    </div>
                                    <p th:if="${#fields.hasErrors('fuelStationId')}" th:errorclass="text-danger"
                                       th:errors="${fuelTerminal.fuelStationId}"></p>
                                </div>
                        </div>
                        <div class="row mb-3">
                            <label class="col-sm-4 col-form-label">Fuel Sam Id</label>
                            <div class="col-sm-8">
                                <input type="text" th:field="*{fuelSamId}"
                                       class="form-control mb-4 w-25" placeholder="Fuel Sam Id"/>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label class="col-sm-4 col-form-label">Pay Sam Id</label>
                            <div class="col-sm-8">
                                <input type="text" th:field="*{paySamId}"
                                       class="form-control mb-4 w-25" placeholder="Pay Sam Id"/>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label class="col-sm-4 col-form-label">Fuel Type</label>
                            <div class="col-sm-8">
                                <input type="text" th:field="*{fuelType}"
                                       class="form-control mb-4 w-25" placeholder="Fuel Type"/>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label class="col-sm-4 col-form-label">Ipc Ip Addr</label>
                            <div class="col-sm-8">
                                <input type="text" th:field="*{ipcIpAddr}"
                                       class="form-control mb-4 w-25" placeholder="Ipc Ip Addr"/>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label class="col-sm-4 col-form-label">Pt Ip Addr</label>
                            <div class="col-sm-8">
                                <input type="text" th:field="*{ptIpAddr}"
                                       class="form-control mb-4 w-25" placeholder="Pt Ip Addr"/>
                            </div>
                        </div>

                        <div class="row mb-3">
                        <label class="col-sm-4 col-form-label">Nozzle ID</label>
                            <div class="col-sm-8">
                            <input type="text" th:field="*{nozzleId}"
                               name="Init Count" placeholder="Nozzle ID"
                               class="form-control mb-4 w-25">
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label class="col-sm-4 col-form-label">Oilcan ID</label>
                            <div class="col-sm-8">
                            <input type="text" th:field="*{oilcanId}"
                                   class="form-control mb-4 w-25" placeholder="Oilcan ID"/>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label class="col-sm-4 col-form-label">Dispenser Type</label>
                            <div class="col-sm-8">
                                <input type="text" th:field="*{dispenserType}"
                                       class="form-control mb-4 w-25" placeholder="Dispenser Type"/>
                            </div>
                        </div>

                        <div class="row">
                            <div class="offset-sm-4 col-sm-4 d-grid">
                                <button type="submit" class="btn btn-primary">Save</button>
                            </div>
                            <div class="col-sm-4 d-grid">
                                <a role="button" class="btn btn-outline-primary" th:href="@{/fuelTerminals/list}">Cancel</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>

    <!-- Country-selector modal-->
    <div class="modal fade" id="country-selector">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content country-select-modal">
                <div class="modal-header">
                    <h6 class="modal-title">Choose Country</h6><button aria-label="Close" class="btn-close"
                                                                       data-bs-dismiss="modal" type="button"><span aria-hidden="true">×</span></button>
                </div>
                <div class="modal-body">
                    <ul class="row p-3">
                        <li class="col-lg-6 mb-2">
                            <a href="javascript:void(0)" class="btn btn-country btn-lg btn-block"
                               th:href="@{/fuelTerminals/add(lang=#{lang.change.en})}">
                                    <span class="country-selector"><img alt="" src="../assets/images/flags/us_flag.jpg"
                                                                        class="me-3 language"></span>English
                            </a>
                        </li>
                        <li class="col-lg-6 mb-2">
                            <a href="javascript:void(0)" class="btn btn-country btn-lg btn-block"
                               th:href="@{/fuelTerminals/add(lang=#{lang.change.fa})}">
                                    <span class="country-selector"><img alt=""
                                                                        src="../assets/images/flags/ir.svg"
                                                                        class="me-3 language"></span>Persian
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Country-selector modal-->

    <!-- FOOTER -->
    <footer class="footer" th:replace="~{admin-panel/index :: app-footer}">

    </footer>

    <!-- FOOTER CLOSED -->

</div>

<!-- JQUERY JS -->
<script src="../assets/js/jquery.min.js"></script>

<!-- BOOTSTRAP JS -->
<script src="../assets/plugins/bootstrap/js/popper.min.js"></script>
<script src="../assets/plugins/bootstrap/js/bootstrap.min.js"></script>

<!-- SIDE-MENU JS -->
<script src="../assets/plugins/sidemenu/sidemenu.js"></script>

<!-- TypeHead js -->
<script src="../assets/plugins/bootstrap5-typehead/autocomplete.js"></script>
<script src="../assets/js/typehead.js"></script>

<!-- SIDEBAR JS -->
<script src="../assets/plugins/sidebar/sidebar.js"></script>

<!-- Perfect SCROLLBAR JS-->
<script src="../assets/plugins/p-scroll/perfect-scrollbar.js"></script>
<script src="../assets/plugins/p-scroll/pscroll.js"></script>
<script src="../assets/plugins/p-scroll/pscroll-1.js"></script>

<!-- INTERNAL SELECT2 JS -->
<script src="../assets/plugins/select2/select2.full.min.js"></script>

<!-- INTERNAL Data tables js-->
<script src="../assets/plugins/datatable/js/jquery.dataTables.min.js"></script>
<script src="../assets/plugins/datatable/js/dataTables.bootstrap5.js"></script>
<script src="../assets/plugins/datatable/dataTables.responsive.min.js"></script>
<script src="../assets/js/crypto-datatable.js"></script>

<!-- Color Theme js -->
<script src="../assets/js/themeColors.js"></script>

<!-- Sticky js -->
<script src="../assets/js/sticky.js"></script>

<!-- CUSTOM JS -->
<script src="../assets/js/custom.js"></script>


</body>
</html>