<!DOCTYPE html>
<html lang="fa" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>فهرست مناطق</title>
</head>
<body>
<div class="header">
    <h1 class="header-title">مدیریت مناطق و نواحی</h1>
</div>

<div class="content">
    <h2>فهرست مناطق</h2>
    <div class="actions">
        <a href="/create" class="button">اضافه کردن منطقه</a>
    </div>
    <ul>
        <li th:each="zone : ${zones}">
            <span th:text="${zone.name}">نام منطقه</span>
            <div>
                <a th:href="@{/edit/{id}(id=${zone.id})}" class="button">ویرایش</a>
                <form th:action="@{/delete/{id}(id=${zone.id})}" method="post" style="display:inline;">
                    <input type="hidden" name="_method" value="delete"/>
                    <button type="submit" class="button">حذف</button>
                </form>
            </div>
        </li>
    </ul>
</div>
</body>
</html>
