<!doctype html>
<html lang="fa" dir="rtl" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/template :: head}">
    <meta charset="UTF-8">
    <title>افزودن ناحیه</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body class="app sidebar-mini rtl light-mode">

<div id="global-loader" th:replace="~{fragments/template :: global-loader}"></div>

<div class="page">
    <div class="page-main">

        <div class="app-header header sticky" th:replace="~{fragments/template :: app-header}">
        </div>
        <div class="sticky" th:replace="~{fragments/template :: app-sidebar}">
        </div>

        <div class="main-content app-content mt-0">
            <div class="side-app">
                <div class="main-container container-fluid">

                    <div class="header mb-4" style="background-color: transparent; padding: 1rem 0;">
                        <h1>افزودن ناحیه</h1>
                        <a href="/page/zones/get-all-zones" class="btn btn-info btn-sm">بازگشت</a>
                    </div>

                    <div class="area-list-container">
                        <form id="createAreaForm" th:action="@{/page/areas/create}" th:object="${area}" method="post">
                            <input type="hidden" id="zoneId" name="zoneId" th:value="${zoneId}"/>

                            <div class="row justify-content-center">
                                <div class="col-md-4">

                                    <div class="mb-3">
                                        <label for="name">نام:</label>
                                        <input type="text" id="name" th:field="*{name}" required class="form-control"/>
                                    </div>

                                    <div class="mb-3">
                                        <label for="code">کد:</label>
                                        <input type="text" id="code" th:field="*{code}" required class="form-control"/>
                                    </div>

                                    <button type="submit" class="btn btn-success">افزودن ناحیه</button>

                                </div>
                            </div>
                        </form>
                        <div id="responseMessage" class="mt-3"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="footer" th:replace="~{fragments/template :: app-footer}"></footer>

</div>
<a href="#top" id="back-to-top"><i class="fa fa-angle-up"></i></a>

<div th:replace="~{fragments/template :: scripts}"></div>

<script>
    $(document).ready(function () {
        $('#createAreaForm').on('submit', function (e) {
            e.preventDefault();
            $.ajax({
                type: 'POST',
                url: $(this).attr('action'),
                data: $(this).serialize(),
                success: function (response) {
                    $('#responseMessage').html('<div class="alert alert-success">' + response.message + '</div>');
                    $('#createAreaForm')[0].reset();
                },
                error: function (xhr) {
                    const errorMessage = xhr.responseText || xhr.statusText;
                    $('#responseMessage').html('<div class="alert alert-danger">' + errorMessage + '</div>');
                    $('#createAreaForm')[0].reset();
                }
            });
        });
    });
</script>
</body>
</html>
