<!doctype html>
<html lang="en" dir="rtl" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/template :: head}">
</head>

<body class="app sidebar-mini rtl login-img">

<!-- BACKGROUND-IMAGE -->
<div class="">

    <!-- GLOABAL LOADER -->
    <div id="global-loader" th:replace="~{fragments/template :: global-loader}">
    </div>
    <!-- /GLOABAL LOADER -->

    <!-- PAGE -->
    <div class="page">
        <div class="">

            <!-- CONTAINER OPEN -->
            <div class="col col-login mx-auto mt-7">
                <div class="text-center">
                    <a href="index.html"><img src="../assets/images/brand/logo-3.png" th:src="@{/assets/images/brand/logo-3.png}" class="header-brand-img" alt=""></a>
                </div>
            </div>

            <div class="container-login100">
                <div class="wrap-login100 p-6">
                    <form class="login100-form validate-form" th:action="@{/login}" method="post">
                            <span class="login100-form-title pb-5">
                                لطفا نام کاربری و رمز عبور را وارد کنید.
                            </span>
                        <div th:if="${loginError}" class="alert alert-danger">
                            <p>نام کاربری یا رمز عبور اشتباه است.</p>
                        </div>
                        <div class="panel panel-primary">
                            <div class="panel-body tabs-menu-body p-0 pt-5">
                                <div class="tab-content">
                                    <div class="tab-pane active" id="tab5">
                                        <div class="wrap-input100 validate-input input-group">
                                            <a href="javascript:void(0)" class="input-group-text bg-white text-muted">
                                                <i class="zmdi zmdi-account text-muted" aria-hidden="true"></i>
                                            </a>
                                            <input class="input100 border-start-0 form-control ms-0" type="text" placeholder="نام کاربری" name="username">
                                        </div>
                                        <div class="wrap-input100 validate-input input-group" id="Password-toggle">
                                            <a href="javascript:void(0)" class="input-group-text bg-white text-muted">
                                                <i class="zmdi zmdi-eye text-muted" aria-hidden="true"></i>
                                            </a>
                                            <input class="input100 border-start-0 form-control ms-0" type="password" placeholder="رمز عبور" name="password">
                                        </div>
                                        <div class="container-login100-form-btn">
                                            <input type="submit" class="login100-form-btn btn-primary" value="ورود" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
            <!-- CONTAINER CLOSED -->
        </div>
    </div>
    <!-- End PAGE -->

</div>
<!-- BACKGROUND-IMAGE CLOSED -->

<div th:replace="~{fragments/template :: scripts}">
</div>

</body>

</html>