<!DOCTYPE html>
<html lang="fa" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>افزودن ناحیه</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<div class="header">
    <h1>افزودن ناحیه</h1>
    <a href="/page/areas/get-all-areas" class="link">بازگشت</a>
</div>
<div class="area-list-container">
    <form id="createZoneForm" th:action="@{/page/zones/create}" th:object="${zoneDto}" method="post">
        <input type="hidden" id="areaCode" name="areaCode" th:value="${areaCode}"/>

        <div>
            <label for="name">نام:</label>
            <input type="text" id="name" th:field="*{name}" required/>
        </div>

        <div>
            <label for="code">کد:</label>
            <input type="text" id="code" th:field="*{code}" required/>
        </div>

        <button type="submit">افزودن ناحیه</button>
    </form>


    <div id="responseMessage"></div>
</div>

<script>
    $(document).ready(function () {
        $('#createZoneForm').on('submit', function (e) {
            e.preventDefault();
            $.ajax({
                type: 'POST',
                url: $(this).attr('action'),
                data: $(this).serialize(),
                success: function (response) {
                    $('#responseMessage').html('<div class="alert success">' + response.message + '</div>');
                    $('#createZoneForm')[0].reset();
                },
                error: function (xhr) {
                    var errorMessage = xhr.responseText || xhr.statusText;
                    $('#responseMessage').html('<div class="alert error">' + errorMessage + ' </div>');
                    $('#createZoneForm')[0].reset();
                }
            });
        });
    });
</script>
</body>
</html>

